body{
    background-image: url(https://previews.123rf.com/images/rorygezfresh/rorygezfresh1812/rorygezfresh181200155/114164028-quote-thank-you-made-of-letters-cut-out-of-paper-white-peony-on-a-pink-pastel-background.jpg);
    background-size: 1550px 760px;

}
h1{
    text-align: center;
    margin-top: 80px;
    text-decoration: underline rgb(23, 123, 148);
}